.bg-dark-2-glass {
  background-color: rgba(0, 0, 0, 0.65) !important;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.preloader__logo {
  height: 50%;
  width: 50%;
  z-index: 999999;
}

/* 
 * index.html
 */

.slider__headline {
    display: block;
    width: calc(1 * (60 * 1px));
    height: 0.5px;
    background-color: var(--color-light-1);
  }
  
  @media screen and (min-width: 320px) {
    .slider__headline {
      width: calc(1 * (60 * 1px + (120 - 60) * ((100vw - 320px) / 2240)));
    }
  }
  
  @media screen and (min-width: 2560px) {
    .slider__headline {
      width: calc(1 * (120 * 1px));
    }
  }

  .slider-fullscreen-projects__images {
    background: rgba(0, 0, 0, 0.4);
  }

  .text-light{
    color: var(--color-light-1) !important;
  }

  .social__item a {
    font-size: 16px;
  }

  .social__item i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 16px;
  }

/* 
 * blog.html
 */

 .lazy>img {
  border: none;
  border-radius: 20px;
}

.figure-post__media>a {
  border: none;
  border-radius: 20px;
}

.figure-post__date {
  border: none;
  border-radius: 20px 0 20px 0;
}


.figure-post__date {
  background-color: rgba(255, 255, 255, .75) !important;
  backdrop-filter: blur(10px);
}

.rounded-slide-img {
  border-radius: 20px 0 0 20px !important;
}

.rounded-slide-bg {
  border-radius: 20px !important;
}

.rounded-circle {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.rounded {
  border-radius: 20px !important;
}

@media screen and (max-width:992px) {
  .rounded-slide-img {
      border-radius: 20px 20px 0 0 !important;
  }
}

.section-image__wrapper {
  border-radius: 20px;
}
.section-about__floating-image{
  border-radius: 20px;
  max-width: 400px;
  height: 400px;
}

.section-masthead__background_halfscreen {
  border-radius: 0 0 0 40px;
}

.widgettitle:after {
  background-color: var(--color-light-1);
}

/* 
 * portfolio.html
 */

 .hover-zoom__zoom, .hover-zoom__inner {
  border-radius: 20px;
}


.slider-fullscreen-projects__music {
  position: absolute;
  left: var(--gutter-horizontal);
  bottom: 10px;
  z-index: 60;
}

@media screen and (max-width: 991px) {
  .slider-fullscreen-projects__music {
    bottom: var(--gutter-vertical);
  }
}

.slider__wrapper-music {
  display: inline-block;
  width: 100px;
  height: 100px;
  z-index: 60;
}

@media screen and (max-width: 991px) {
  .slider__wrapper-music {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 80px;
  }
}

@media screen and (max-width: 576px) {
  .slider__wrapper-music {
    width: 30px;
    height: 60px;
  }
}